.container {
  margin-top: 20px;
}

label, .label {
	font-weight: bold;
}

.no-wrap {
	white-space: nowrap;
}


.home {
  height: 50vh;
  min-height: 300px;
<<<<<<< HEAD
  background: url('./img/backidea.jpg') center center no-repeat scroll;
=======
  background: url('./img/backIdea.jpg') center center no-repeat scroll;
>>>>>>> 8fa464aeab431b51951292f9bc36f7e35b24f4b7
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}